<table class="table">
  <!-- #region Headers -->
  <thead>
    <tr class="bg-danger">
      <!-- Toggle All Check Box -->
      <th>
        <input
          title="Checkbox"
          type="checkbox"
          (change)="toggleSelectAll()"
          [checked]="isAllSelected()"
        />
      </th>
      <!-- Dynamically Generate Headers Based on Config -->
      <th *ngFor="let column of dataGridConfig.columns">
        {{ column.display[dataGridConfig.currentLocale] || '' }}
        <!-- Sort -->
        <button
          class="btn"
          (click)="onSort(column)"
          
        >
          {{column.field["en"]==state.currentSortColumn && state.sortDirection === 'asc' ? '▲' : '▼' }}
      </button>
      
    </tr>
  </thead>
  <!-- #endregion Headers -->

  <tbody>
      <!-- Bulk Actions -->
      <tr *ngIf="state.multiMode">
        <span *ngFor="let action of dataGridConfig.actions">
          <button 
          *ngIf="action.type === ActionType.Multi"
          class="btn btn-primary"        
          (click)="action.callback(state.multiEntity, 'additional info')"
        >
          {{ action.name }}
        </button>
        </span>  
      </tr>
    <!-- Data Based on DisplayedData -->
    <tr *ngFor="let row of state.displayedData">
      <!-- Bulk Actions -->
       
      <td>
        <input
          title="Checkbox"
          type="checkbox"
          (change)="toggleSelectEntity(row)"
          [checked]="isSelectedEntity(row)"
        />
      </td>
      <!-- Dynamic Data Rows -->
      <td *ngFor="let column of dataGridConfig.columns">{{ row[column.field[dataGridConfig.currentLocale]]}}</td>

      <!-- Actions -->
      <td *ngFor="let action of dataGridConfig.actions">
        <button
          *ngIf="action.type === ActionType.Single"
          class="btn"
          [ngClass]="{
            'btn-danger': action.name === 'Delete',
            'btn-primary': action.name === 'Edit'
          }"
          (click)="action.callback(row, 'additional info')"
        >
          {{ action.name }}
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Paginator Component -->
<app-paginator
  [total]="state.total"
  [paginationOptions]="dataGridConfig.pageSizeOptions"
  (paginationChange)="onPaginationChange($event)"
></app-paginator>
