
 
<button class="btn btn-primary" (click)="navigateToEmpty()">
  Navigate to Empty
</button>
<button class="btn btn-primary" (click)="toggleLang()">SwitchLang</button> 

<div class="row">
  <div class="col-6">
    <input type="text" class="form-control" placeholder="Search" #search (keyup.enter)="onSearch(search.value)" />
  </div>
  <div class="col-3">
    <button class="btn btn-primary" (click)="onSearch(search.value)">
      Search
    </button>
  </div>
</div>
<table class="table">
  <!-- #region Headers -->
  <thead>
    <tr class="bg-danger">
      <!-- Toggle All Check Box -->
      <th>
        <input
          title="Checkbox"
          type="checkbox"
          (change)="toggleSelectAll()"
          [checked]="isAllSelected()"
        />
      </th>
      <!-- Dynamically Generate Headers Based on Config -->
      <th *ngFor="let column of dataGridConfig.columns">
        {{ column.header | translate }}
        <!-- {{'buttons.Edit' | translate}} -->
        <!-- Sort -->
        <button class="btn" (click)="onSort(column)">
          {{
            localizeField(column.field) == state.currentSortColumn &&
            state.sortDirection === "asc"
              ? "▲"
              : "▼"
          }}
        </button>
      </th>
    </tr>
  </thead>
  <!-- #endregion Headers -->
<!-- Loading -->
 <tbody *ngIf="isLoading()">
<dialog open>
  <div class="loader"></div>
</dialog>
</tbody>
  <tbody *ngIf="!isEmpty()">
    <!-- Bulk Actions -->
    <tr *ngIf="state.multiMode && isThereEnabledMultiActions()">
      <span *ngFor="let action of dataGridConfig.actions">
        <button
          *ngIf="action.type === ActionType.Multi && action.enabled"
          class="btn btn-primary"
          (click)="action.callback(state.multiEntity)"
        >
          {{ action.name | translate }}
        </button>
      </span>
    </tr>
    <!-- Data Based on DisplayedData -->
    <tr *ngFor="let row of state.displayedData">
      <td>
        <input
          title="Checkbox"
          type="checkbox"
          (change)="toggleSelectEntity(row)"
          [checked]="isSelectedEntity(row)"
        />
      </td>
      <!-- Dynamic Data Rows -->
      <!-- if Multi Field -->

      <td *ngFor="let column of dataGridConfig.columns">
        <!-- if Multi field -->
        <span *ngIf="column.isMultiLang">
          <!-- {{ row[column.multiField![currentLocale()]] }} -->
          {{ row[localizeField(column.field)] }}
        </span>
        <!-- else -->
        <span *ngIf="!column.isMultiLang">
          {{ row[column.field] }}
        </span>
      </td>

      <!-- Actions -->
      <td *ngFor="let action of dataGridConfig.actions">
        <button
          *ngIf="action.type === ActionType.Single && action.enabled"
          class="btn btn-primary"
          (click)="action.callback(row)"
        >
          {{ action.name | translate }}
        </button>
      </td>
    </tr>
  </tbody>
 
  <!-- Empty Body -->
  <tbody *ngIf="isEmpty()">
    <tr>
      <td colspan="100%">
        <h1 class="text-center">No Data</h1>
      </td>
    </tr>
  </tbody>
  
</table>

<!-- Paginator Component -->
<app-paginator
  [total]="state.total"
  [paginationOptions]="paginatorOptions"
  (paginationChange)="onPaginationChange($event)"
></app-paginator>

